:root {
    --black: #333333;
    --white: #F8F7F5;
    --main-orange: #EFBD68;
}

body {
    background-color: var(--white);
    font-family: 'Nunito';
    color: var(--black);
    margin: 0%;
}

button {
    padding: 16px 36px;
    font-family: 'Montserrat';
    background-color: var(--main-orange);
    border-radius: 50px;
    border-color: transparent;
    width: fit-content;
}

img {
    width: 200px;
    height: 300px;
    object-fit: contain;
}

.center {
    text-align: center;
    margin: 0 auto;
    align-self: center;
}

.web-header {
    display: flex;
    justify-content: space-between;
}

.web-content {
    padding: 53px 47px;
}

.web-header>div {
    margin-top: auto;
    margin-bottom: auto;
}

.vertical-center {
    margin-top: auto;
    margin-bottom: auto;
}

.title {
    color: var(--main-orange);
    align-self: center;
    letter-spacing: 10px;
}

h1 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 60px;
    letter-spacing: 0px;
    text-transform: capitalize;
}

h5 {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: capitalize;

}

h6 {
    font-family: Nunito;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0px;
    text-transform: capitalize;

}

a {
    text-decoration: none;
    color: var(--black);
}

span {
    font-family: Montserrat;
    font-weight: 400;
    text-wrap: wrap;
    font-size: 20px;
    letter-spacing: 0px;
    text-align: center;
}

.menu {
    display: flex;
    /* justify-content: space-between; */
}

.menu>a {
    margin-right: 32px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.web-footer {
    background-color: var(--main-orange);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.text {
    transform-origin: center 190px;
    animation: rotate 10s linear infinite;
}

.round {
    border-radius: 256px;
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}